registry=https://registry.npmjs.org
ignore-workspace-root-check=true
shamefully-hoist=true
# 下面这俩跟 vite-plugin-components的组件ctrl + 左击跳转有关系！！
# 怀疑内部自己安装了peerDependencies导致外部发现内部安装则不继续安装了，于是乎在components.d.ts中导入 @vue/runtime-core 没有路径提示也就是并没导入
strict-peer-dependencies=false
auto-install-peers=false
