html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--onu-colors-gray50);
  color: var(--onu-colors-gray700);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--onu-colors-blue700);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--onu-colors-gray300);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--onu-colors-gray500);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--onu-colors-gray600);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:active {
  background: var(--onu-colors-gray600);
  border-radius: 2px;
}